@import "tailwindcss";

/* COLORS */
@theme {
  /* Mode 1 */
  /* color */
  --color-blanco: #ffffff;
  --color-negro: #000000;
  --color-primary: #2a003a;
  --color-secondary: #01008a;
  --color-terciary: #46d5b3;
  --font-letter-spacing-md: -0.0625rem;
  --font-letter-spacing-lg: 0.125rem;
  --font-line-height-md: 8.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.5rem;
  --text-xl: 2.5rem;
  --text-2xl: 4rem;
  /* string */
  --font-family-body: "Work Sans", medium;
  --font-medium: Medium;
  --font-regular: Regular;
  --font-bold: bold;
  --font-family-header: "Segoe UI";
}