@import "tailwindcss";

/* COLORS */
:root {
  /* Mode 1 */
  /* color */
  --blanco: #ffffff;
  --negro: #000000;
  --primary: #2a003a;
  --secondary: #01008a;
  --terciary: #46d5b3;
}

/* TYPOGRAFIA */
:root {
  /* Mode 1 */
  /* number */
  --font-letter-spacing-md: -0.0625rem;
  --font-letter-spacing-lg: 0.125rem;
  --font-line-height-md: 8.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2.5rem;
  --font-size-2xl: 4rem;
  /* string */
  --font-family-body: Work Sans;
  --font-family-header: Segoe UI;
  --font-weight-bold: Bold;
  --font-weight-medium: Medium;
  --font-weight-regular: Regular;
}

/* ESTILOS TIPOGRÁFICOS */
.h1 {
  font-family: var(--font-family-header);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--font-letter-spacing-md);
  color: var(--negro);
}

.h2 {
  font-family: var(--font-family-header);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--font-letter-spacing-md);
  color: var(--negro);
}

.h3 {
  font-family: var(--font-family-header);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--font-letter-spacing-md);
  color: var(--negro);
}

.subtitle {
  font-family: var(--font-family-body);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--negro);
}

.body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-letter-spacing-md);
  color: var(--negro);
}

.bold {
  font-family: var(--font-family-body);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  color: var(--negro);
}

.small {
  font-family: var(--font-family-body);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--negro);
}

.button-text {
  font-family: var(--font-family-body);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--font-letter-spacing-lg);
  color: var(--negro);
  text-transform: uppercase;
}